* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --maincolor: #7b5244;
    --subcolor: #333;
}
body {
    height: 2950px;
    font-family: "pt-sans",sans-serif;
      
}
a {
    text-decoration: none;
}
header {
    padding: 40px 0;
}

.container {
    width: 80%;
    margin: auto;
}
.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-content ul li {
    display: inline-block;
}
.head-content img {
    flex: 1;
    max-width: 150px;
}
.head-content nav {
    flex: 3;
    text-align: center;
}
.list-header {
    list-style: none;
}
.head-content ul li {
    display: inline-block;
}

.dropdown {
    position: relative;
}
.head-contentt nav ul li .link-list{
    position: relative;
    padding: 10px 19px;
    display: block;
    font-weight: bold;
    position: relative;
}

.dropdown-menu ul {
    display: table-cell;
    text-align: left;
}
.dropdown:hover .dropdown-menu {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.dropdown-menu {
    position: absolute;
    width: 450px;
    border: 2px solid var(--maincolor);
    background-color: #fff;
    padding: 15px;
    margin-top: 5px;
    transform: scale(0);
    transition: transform 0.5s , visibility .5s;
    opacity: 0;
    visibility: hidden;
}
.dropdown-menu ul li {
    line-height: 1.7;
}
.dropdown-menu ul li:first-child a {
    display: block;
    border-bottom: 1px dotted var(--maincolor);
    margin-bottom: 10px;
}

.head-content ul li a, .head-content ul li a {
    color: var(--maincolor);
}
.head-content ul li {
    display: inline-block;
}
.list-header2 {
    list-style: none;
}
.head-content nav ul li .link-list {
    position: relative;
    padding: 10px 19px;
    display: block;
    font-weight: bold;
    position: relative;
}
.head-content nav ul li .link-list:before {
    border-width: 0 2px;
    height: 100%;
    width: 95%;
    transform: scale3d(1,0,1);
}

.head-content nav ul li .link-list:before, .head-content nav ul li .link-list:after {
    content: "";
    position: absolute;
    border-style: solid;
    left: 0;
    top: 0;
    transition: transform 0.2s;
}
.head-content nav ul li .link-list:after {
    border-width: 2px 0;
    height: 91%;
    width: 98%;
    transform: scale3d(0,1,1);
    transform-origin: left;
}

.head-content nav ul li .link-list:hover:before {
    transform: scale3d(1,1,1);
}

.head-content nav ul li .link-list:before {
    border-width: 0 2px;
    height: 100%;
    width: 95%;
    transform: scale3d(1,0,1);
}
.head-content nav ul li .link-list:before, .head-content nav ul li .link-list:after {
    content: "";
    position: absolute;
    border-style: solid;
    left: 0;
    top: 0;
    transition: transform 0.2s;
}
.head-content nav ul li .link-list:hover:after {
    transform: scale3d(1,1,1);
    transition-delay: .2s;
}
.head-content nav ul li .link-list:after {
    border-width: 2px 0;
    height: 91%;
    width: 98%;
    transform: scale3d(0,1,1);
    transform-origin: left;
}
.head-content nav ul li .link-list:before, .head-content nav ul li .link-list:after {
    content: "";
    position: absolute;
    border-style: solid;
    left: 0;
    top: 0;
    transition: transform 0.2s;
}


.head-content .login {
    flex: 1;
    text-align: right;
}
.head-content .login ul li {
    padding: 10px;
    font-weight: bold;
}

.head-content ul li {
    display: inline-block;
}
.head-content .login ul li:last-child i {
    position: relative;
    margin-right: 11px;
}
.head-content .login ul li:last-child i {
    position: relative;
    margin-right: 11px;
}
.head-content .login ul li:last-child i::after {
    position: absolute;
    content: "0";
    background-color: var(--maincolor);
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    font-size: 13px;
    bottom: -4px;
}
/* End header */

/* Start Slider */
section.slider img {
    width: 100%;
}
/*End Slider */


/* Start Category */
.special-p {
    padding: 40px 0;
}
.top-category {
    text-align: center;
    margin-bottom: 25px;
}
.title-category {
    font-size: 30px;
    margin-bottom: 10px;
}
.top-category:hover .line {
    width: 150px;
}
.top-category .line {
    display: block;
    width: 100px;
    margin: auto;
    height: 2px;
    background-color: var(--maincolor);
    transition: width .5s;
}
.category-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}
.category-card {
    position: relative;
}
.category-items img {
    width: 100%;
    margin-bottom: 25px;
}
.category-title {
    color: gray;
    font-weight: normal;
}

.category-title2{
    font-size: 19px !important;
}
.category-card .icon {
    width: 30px;
    height: 30px;
    background-color: brown;
    color: #fff;
    text-align: center;
    display: block;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1;
}
.category-card:hover .icon {
    visibility: visible;
    opacity: 1;
}

/* End Category */
/* Start discount  */

.discount {
    margin: 30px 0;
    display: flex;
}
.discount-item{
    flex: 2;
    background: #f7f3ef;
    padding: 20px;
    position: relative;
}
.discount-item .t-disc{
        position: relative;
        padding-left: 50px;
        margin-bottom: 20px;   
}
.discount-item .t-disc .icon{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 50px;
    color: var(--maincolor);
    
}
.discount-item .t-disc{
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
}
.discount-item .t-disc +p{
    line-height: 1.7;
}
.discount-item .bullets{
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.discount-item .bullets span{
    display: inline-block;
    width: 50px;
    height: 2px;
    background: var(--maincolor);
    margin-left: 10px;
}
.discount-another:nth-child(2){
    background-image: url(../Images/cms-banner-1.jpg);
    background-size: cover;
    margin: 0 20px;
    transition: transform 0.5s;
}
.discount-another:nth-child(3) {
    background-image: url(../Images/cms-banner-2.jpg);
    background-size: cover;
    transition: transform .5s;
}
.discount-item-info {
    position: relative;
    top: 20px;
    left: 15px;
}
.discount-item-info h3 {
    font-weight: normal;
    color: var(--maincolor);

}
.discount-item-info h2 {
    font-size:1.5em;
    width: 100%;
}

.discount-another:nth-child(2):hover {
    transform: scale(1.1);
}
.discount-another:nth-child(3):hover {
    transform: scale(1.1);
}



/* Start Delivery  */
.delivery {
    display: flex;
    margin-bottom: 55px;
}
.delivery-item{
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--maincolor);
}
.delivery-icon-two{
    background-position: center 5px;
    transition: all .5s;
}
.delivery-icon{
    background-image: url(../Images/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
}
.delivery-info h3{
    font-size: 17px;
}
.delivery-info span{
    color: gray;
    font-size: 15px;
}
.delivery-icon-three{
    background-position: center -366px;
    transition: all .5s;
}

.delivery-icon-one{
    background-position: center 5px;
    transition: all .5s;
}
.delivery-item:hover .delivery-icon-one {
    background-position: center -86px;
}
.delivery-icon-two{
    background-position: center -180px;
    transition: all .5s;
}
.delivery-item:hover .delivery-icon-two {
    background-position: center -273px;
}
.sprite-icon-three{
    background-position: center -366px;
    transition: all .5s;
}
.delivery-item:hover .delivery-icon-three {
    background-position: center -455px;
}
.delivery-icon-four{
    background-position: center -549px;
    transition: all .5s;
}
.delivery-item:hover .delivery-icon-four {
    background-position: center -639px;
}
.delivery-icon-five {
    background-position: center -734px;
    transition: all .5s;
}
.delivery-item:hover .delivery-icon-five {
    background-position: center -826px;
}
.delivery-item:last-child {
    border: 0;
}
/* End Delivery  */
.products-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 30px 0px;
}
.list-product{
    display: flex;
    justify-content: center;
}
.list-unstyled {
    list-style: none;
}
.list-product li {
    margin: 10px 20px;
}
.products-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 30px 0px;
}
.product-img {
    position: relative;
}
.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: scalex(0);
    opacity: 0.9;
    transition: transform 0.2s;
    
}
.product-overlay ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.product-overlay ul li {
    width: 40px;
    height: 40px;
    background-color: var(--maincolor);
    display: inline-block;
    text-align: center;
}
.product-overlay ul li i {
    color: rgb(255, 255, 255);
    line-height: 40px;
}
.product-item:hover .product-overlay {
    transform: scaleX(1);
}
.product-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: scaleX(0);
    opacity: 0.9;
    transition: transform 0.2s ease 0s;
}
.product-item i.active {
    color: yellow;
}

.product-info i {
    margin-top: 10px;
}
.product-info span {
    display: block;
    margin: 5px 0;
}
.product-overlay ul li i {
    color: #fff;
    line-height: 40px;
}